doctype html
html
    head
        meta(charset='utf-8')
        title Chat
        link(href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css' rel="stylesheet")

    body(class='container')
        p(class='lead') Добро пожаловать в чат!

        form(id='publish' class='form-inline')
            input(type="text" name="message")
            input(type="submit" class="btn btn-primary" value="Отправить")

        ul(id='messages')

        script(src='/assets/js/chat.js')